$color-primary: #FF68B4;
$color-secondary: #FFD9EC;
$color-white: #FFFFFF;
$color-hover: #db448f;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        width: 28vw;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: $color-white;
            font-size: 1.2rem;
        }
    }

    nav {
        width: 60vw;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            li {
                list-style-type: none;
                text-decoration: none;
                color: $color-white;
                font-size: 1rem;
                a {
                    text-decoration: none;
                    color: $color-white;

                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }


    }
}

main {
    .first-box {
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 70vh;

        p {
            width: 49vw;
            font-size: 1.5rem;
        }

        img {
            width: 30vw;
        }
    }

    .second-box {
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40vh;

        img {
            width: 30vw;
        }

        p {
            color: $color-secondary;
            width: 50vw;
            font-size: 1.5rem;
        }
    }

    .third-box {
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50vh;
    }
}

footer {
    background-color:$color-primary;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .social-icons {
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .anuncio {
        width: 40vw;
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            color:$color-white;
            font-size: 1rem;
        }
    }
}
@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header {
        display: flex;
        flex-direction: column;
        height: auto;
        div {
            width: 100%;
            display: flex;
            justify-content: center;

            p {
                font-size: 1.4rem;
                text-align: center;
            }
        }
        nav {
            width: 100%;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding: 10px;
                li {
                    font-size: 1.4rem;
                }
            }
        }
    }

    main {
        .first-box {
            padding: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column-reverse;
            height: auto;
            img {
                width: 90vw;
            }
            p {
                width: 90%;
                height: auto;
                padding: 10px;
                font-size: 1.4em;
                text-align: center;
            }
        }
        .second-box {
            padding: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: auto;

            img {
                width: 90vw;
            }
            p {
                width: 90%;
                height: auto;
                padding: 10px;
                font-size: 1.4em;
                text-align: center;
            }
        }
        .third-box{
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 10px;
            img{
                width: 70vw;
            }
        }
    }
    footer{
        display: flex;
        justify-content: flex-start;
        height: auto;
        padding: 10px;
        .social-icons{
            display: flex;
            flex-direction: column-reverse;
        }
        .anuncio{
            text-align: center;
        }
    }
}
